<!DOCTYPE HTML>
<html lang="pt-br">
<head>

<style>

h1{
	font-size: 72px;

background: #ff0033; /* Old browsers */
background: -moz-linear-gradient(top, #ff0033 3%, #ff6600 19%, #ffff00 40%, #00cc00 50%, #0033ff 66%, #663399 76%, #990099 83%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#ff0033), color-stop(19%,#ff6600), color-stop(40%,#ffff00), color-stop(50%,#00cc00), color-stop(66%,#0033ff), color-stop(76%,#663399), color-stop(83%,#990099)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ff0033 3%,#ff6600 19%,#ffff00 40%,#00cc00 50%,#0033ff 66%,#663399 76%,#990099 83%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ff0033 3%,#ff6600 19%,#ffff00 40%,#00cc00 50%,#0033ff 66%,#663399 76%,#990099 83%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ff0033 3%,#ff6600 19%,#ffff00 40%,#00cc00 50%,#0033ff 66%,#663399 76%,#990099 83%); /* IE10+ */
background: linear-gradient(to bottom, #ff0033 3%,#ff6600 19%,#ffff00 40%,#00cc00 50%,#0033ff 66%,#663399 76%,#990099 83%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0033', endColorstr='#990099',GradientType=0 ); /* IE6-9 */



  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
    <meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="estilo.css">
  	<title>Filipe Fofinho</title>
</head>
<body>
	<center>
	<h1>
		<%= 
			mensagem
		%>
	</h1>
	</center>
</body>
</html>
