<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="estilo.css">
  	<title>Filipe Fofinho</title>
</head>
<body>
	<center>
	<form action="meuNome" method="POST">
		<input name="nome" placeholder="Digite seu nome aqui" type="text"/>
		<input type="submit" value="Enviar"/>
	</form>

	<p>
		<% 
			if(locals.nome)
				{ %>
					<%= nome %> 
				<% } %>
		%>

	</p>
	</center>
</body>
</html>
