<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
  	<link rel="stylesheet" type="text/css" href="estilo.css">
  	<title>Filipe Fofinho</title>
</head>
<body>
	<center>
	<form action="validarCPF" method="POST">

		<input name="cpf" placeholder="Não utilize espaços" type="number"/>
		<br>
		<input type="submit" value="Validar CPF"/>

	</form>

	<p>
		<% 
			if(locals.mensagem)
				{ %>
					<%= mensagem %>
				<% } %>
		%>
	</p>
	</center>
</body>

<script type="text/javascript">
cpf : function (request, response) {

        var cpf = request.body.cpf;

        if (cpf.length != 11 || cpf == "00000000000" || cpf == "11111111111" || cpf == "22222222222" ||  cpf == "33333333333" || 
        cpf == "44444444444" || cpf == "55555555555" || cpf == "66666666666" || 
        cpf == "77777777777" || cpf == "88888888888" || cpf == "99999999999")
        {
            response.render("validarCPF", {
                mensagem : "CPF Inválido!"
             });  
        }

        add = 0; 
          
        for (i=0; i < 9; i ++)       
            add += parseInt(cpf.charAt(i)) * (10 - i);  

        rev = 11 - (add % 11);  

        if (rev == 10 || rev == 11)     
            rev = 0;    

        if (rev != parseInt(cpf.charAt(9)))  
        {
            response.render("validarCPF", {
                mensagem : "CPF Inválido!"
             }); 
        }   

        add = 0; 

        for (i = 0; i < 10; i ++)        
            add += parseInt(cpf.charAt(i)) * (11 - i); 

        rev = 11 - (add % 11);  

        if (rev == 10 || rev == 11) 
            rev = 0;   

        if (rev != parseInt(cpf.charAt(10)))
        {
            response.render("validarCPF", {
                mensagem : "CPF Inválido!"
             }); 
        }
                 
        response.render("validarCPF", {
                mensagem : "CPF Válido!"
             });      
    },

</script>
</html>
